.outerDiv {
  max-height: 165px;
  min-height: 165px;
  margin: 2rem;
  position: relative;
  min-width: 165px;
  max-width: 165px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.col-sm-3 {
  padding: 0;
}

.animalImages {
  height: 100%;
  width: 100%;
}

